/projects/WebGL/Planet Mobile/Planet Mobile/nbproject/private/
/projects/WebGL/Planet Mobile/Planet Mobile/public_html/lib
/projects/WebGL/Planet Mobile/Planet Mobile-Skeleton/public_html/lib
/lectures/Wartell/website/lecture demos/WebGL/mipmap/nbproject/private/
*.bak
*.*~
*.swp