/projects/WebGL/Planet Mobile/Planet Mobile/nbproject/private/
/projects/WebGL/Planet Mobile/Planet Mobile/public_html/lib
/projects/WebGL/Planet Mobile/Planet Mobile-Skeleton/public_html/lib
/lectures/Wartell/website/lecture demos/WebGL/mipmap/nbproject/private/
*.bak
*.*~
*.swp
*.js.map

# ignore generic temporary files
**/node_modules
*.bak
*.*~
*.swp
*.js.map

# ignore ZJWGI temporary files
www-site-mirror

# ignore symlinks
scripts/zjwgi
site/css/zjwgi
site/images/zjwgi
site/videos/zjwgi
site/scripts/zjwgi
site/html/zjwgi